.heading
{
width: 100%;
text-align: center;
}
.heading h3
{
display: inline;
}
.heading button
{
    float: right;
    border: 1px solid white;
}
#start
{
    font-size: 22px;
}
ol
{
    text-align: left;
}
#sticky-footer
{
    width: 100%;
    bottom: 0;
    text-align: center;
    position: fixed;
    background-color: white;
}
